body {
  margin: 0;
  font-family: Arial;
}

.div1{
  background-color: brown;
  text-align: center;
  padding: 40px 0;
}

.div1 img{
  width: 250px;
  height: 250px;
  margin: 20px 30px;
  border-radius: 50%;
  border-style: dashed;
}

.div1 h2 {
  color: black;
}

.div1 p {
  width: 60%;
  margin: 15px auto;
}

.div1 button{
  background: blue;
  border: 2px solid black;
  padding: 6px 25px;
  border-radius: 20px;
}

.div1 button:hover{
  background: red;
}

.div2 {
  background: #000;
  width:100% ;
  padding: 0;
}

#table1 {
  background-color: #c31736;
  padding: 30px;
  width: 50%;
  height: 300px;
  
}

.div2 img{
  width: 200px;
  height: 250px;
  border-radius: 15px;
  margin-right: 20px;
}

#table3{
  background-color: #151B54;
  width: 50%;
  height: 300px;
  padding: 30px;
}

.div3 {
  background: #000;
  width: 100%;
  padding: 0;
}

.div3 img{
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

#table2 {
  list-style-type: lower-roman;
  padding: 0;
}

#table4 {
  list-style-type: square;
  padding: 0;
}

li {
  background-color: white;
  margin: 5px 50px;
  padding: 10px;
} 

li:hover{
  background: rgb(170, 169, 169);
}